<form class="example-form">
  <mat-progress-bar class="center" mat-line *ngIf="status === 'pending'" mode="indeterminate"></mat-progress-bar>

  <mat-form-field class="example-full-width" *ngIf="restaurantsList.length > 0">
    <mat-select placeholder="Choix du restaurant" [formControl]="formCtrl">
      <mat-option *ngFor="let restaurant of restaurantsList" [value]="restaurant.id">
        {{ restaurant.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    color="primary"
    mat-raised-button
    class="create-button"
    *ngIf="formCtrl.value != ''"
    (click)="createMeal(formCtrl.value)">Créer un repas</button>
</form>
