<form class="example-form">
  <mat-form-field color="accent" class="example-full-width">

    <input
      matInput
      placeholder="Identifiant du repas"
      aria-label="Identifiant"
      [formControl]="formCtrl">
  </mat-form-field>

  <button
    color="primary"
    mat-raised-button
    class="join-button"
    *ngIf="formCtrl.value != '' && formCtrl.value.length === 36"
    [routerLink]="['/new-order', formCtrl]">Rejoindre</button>
</form>
