<mat-toolbar color="primary" class="center">

  <button mat-button class="right-pipe" [routerLink]="['/']">
    <b>AB Sushi</b>
  </button>
  <!--
  <button mat-button [routerLink]="['/home']">Accueil</button> |
  <button mat-button [routerLink]="['/staff']">Equipe </button> |
  <button mat-button [routerLink]="['/images']">Images</button>
  -->
  <span class="login-spacer"></span>

  <!--<button mat-button (click)="logOut()">Se déconnecter</button>-->

</mat-toolbar>
