<form class="example-form" *ngIf="status !== 'pending'">
  <mat-tab-group>
    <mat-tab *ngFor="let category of restaurant.menu">
      <ng-template mat-tab-label>
        <span class="choice-option">{{ category.name }}</span>
      </ng-template>

      <div class="exemple-container" *ngFor="let onePiece of category.pieces">
        <mat-form-field color="accent" class="example-full-width">

          <input
            matInput
            placeholder="{{ onePiece.name }}"
            [(ngModel)]="">

        </mat-form-field>
      </div>

    </mat-tab>
  </mat-tab-group>

  <button
    color="primary"
    mat-raised-button (click)="createOrder(formCtrl)">Valider</button>
</form>
