h1 {
  color: orangered;
}

th {
  font-size: 25px;
  color: gray;
}

td {
  font-size: 20px;
  color: orangered;
}
 mat-form-field {
  width: 300px;
 }

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
