@import '../node_modules/@angular/material/theming';

@include mat-core();

$theme-primary: mat-palette($mat-deep-orange);
$theme-accent:  mat-palette($mat-blue-gray, A200, A100, A400);

$theme-warn:    mat-palette($mat-red);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme);
