/* You can add global styles to this file, and also import other style files */
@import "orange-theme";
body {
    font-family: 'Exo', sans-serif;

}
.center {
    margin-left: auto;
    margin-right: auto;
}

.content{
    width: 800px;
    top: 100px;
    margin-left: 75px;
    font-size: 17px;
    font-family: 'Ubuntu Condensed', sans-serif;
//font-family: 'Asap', sans-serif;
//font-family: 'Exo', sans-serif;
//font-family: 'Kanit', sans-serif;
}
