<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="choice-option">Rejoindre un repas</span>
    </ng-template>
    <app-join-form></app-join-form>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="choice-option">Créer un repas</span>
    </ng-template>
    <app-meal-form></app-meal-form>
  </mat-tab>
</mat-tab-group>
