.choice {
  display: inline;
  margin-top: 100px;
  margin-left: 450px;
  width: 300px;
  height: 300px;
}

.join {
  display: inline;
  width: 200px;
  border-right-width: thick;
  border-right-color: orangered;
  height: 150px;
}

.create {
  margin-right: 450px;
  float: right;
  display: inline;
  width: 300px;
  height: 150px;
}

.choice-option {
  font-size: 40px;
  color: orangered;
}

.example-tab-icon {
  margin-right: 8px;
}

mat-tab-group {
  margin-top: 300px;
  width: 720px;
  margin-left: 550px;
}
